#Un .env básico con lo que se necesita.
#DB
DB_PORT= #Puerto donde escuchara, común 5433
DB_HOST= #Host, lo común es localhost
DB_NAME= users #Base de datos
DB_USER= #Usuario
DB_PASS= #Contraseña numérica